<style>
  .sidebar{
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 15%;
  }
  .main-panel{
    float: left;
    padding: 0px 0px;
    /* border: 1px solid #ccc; */
    width: 85%;
    border-left: none;
    min-height: 650px;
    z-index: 3;
    bottom: 0px;
  }

  .footer{
    float: left;
    padding: 0px 0px;
    /* border: 1px solid #ccc; */
    width: 85%;
    border-left: none;
  }
</style>
<div>
    <div class="sidebar">
      <app-menu-slidebar></app-menu-slidebar>
    </div>

    <div class="main-panel">

      <app-header></app-header>
      <h1>Artist Album Listing</h1>
      <div style="padding-left: 5px;padding-top: 10px; height: 700px;">
          <router-outlet></router-outlet>
          <!-- <input [(ngModel)]="test" >
          <app-lifecycle-hooks [data]="test"></app-lifecycle-hooks> -->
          
          <!-- <div app-test-ng-plural></div> -->
      </div>
      
      <!-- 
        yellowCard div require to test ViewEncapsulation of css-->
        <div class="yellowCard" style="padding-bottom: 100px">
          sub footer
      </div> 
        <app-footer></app-footer>
    </div>
     
</div>
